// footer
// -----------------------------------------

footer {
  margin-top: 2em;
  padding: 1.5rem 0;
  color: darken($background, 25%);

  .social-icons {
    margin: 0.6rem auto;
    justify-content: center;

    svg {
      width: 26px;
      height: 26px;
      }
    }
  }
