// content wrappers
// -----------------------------------------

.width {
  display: block;
  width: $page_width;
  max-width: $max_width;
  text-align: center;
  margin: 0 auto;

  &.padded {
    padding: 3.5em 0;
    }
  }

.content {
  text-align: left;

  &.padded {
    padding: 3.5em 0;
    }
  }

.clear {
  clear: both; // Older browser fix

  &:after {
    content: "";
    display: block;
    clear: both;
    }
  }
