// text, lists, inline content, etc
// -----------------------------------------

p {
  a {
    color: inherit;
    font-weight: $semibold;
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="5" viewBox="0 0 120 5" preserveAspectRatio="none"><g><rect x="0" y="0" width="120" height="5" style="fill:'+$yellow+';stroke-width:0;stroke:transparent;"/></g></svg>') no-repeat bottom;
    background-size: 100% 2px;
    transition: background-size 0.1s;

    &:hover {
      background-size: 100% 100%;
      }
    }
  }

a {
  color: $colour;
  }
