// text, lists, inline content, etc
// -----------------------------------------

p {
  a {
    color: inherit;
    font-weight: $semibold;
    box-shadow: inset 0 -2px 0 $yellow;
    transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out;

    &:hover {
      color: darken($text, 15%);
      box-shadow: inset 0 -1.8rem 0 $yellow;
      }
    }
  }

a {
  color: $colour;
  }

strong {
  font-weight: bold;
  }

em {
  font-style: italic;
  }
