// text, lists, inline content, etc
// -----------------------------------------

.code-wrapper {
  margin: 1.5em auto 4em;
  text-align: center;
  width: 90%;
  max-width: 45em;
  }

.intro-copy {
  text-align: center;
  width: 90%;
  max-width: 60em;
  margin: 2em auto;
  }
