// text, lists, inline content, etc
// -----------------------------------------

.code-wrapper {
  margin: 1em auto;
  text-align: center;
  width: 90%;
  max-width: 45em;
  }

.rsvp-grid,
.intro-copy {
  text-align: center;
  width: 90%;
  margin: 3em auto 0;
  }

.intro-copy {
  max-width: 45em;
  }

.rsvp-grid {
  max-width: 40em;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  .grid-item {
    text-align: center;
    }

  .location {
    // Apply 'location' styles here
    }

  .rsvp {
    // Apply 'RSVP' styles here
    }

  p {
    line-height: 1.5em;
    }
  }
