// text, lists, inline content, etc
// -----------------------------------------

.code-wrapper {
  margin: 1em auto;
  text-align: center;
  width: 90%;
  max-width: 45em;
  }

.intro-copy {
  text-align: center;
  width: 90%;
  max-width: 55em;
  margin: 4em auto 0;
  }
