  <footer>
    <div class="width">
      <div class="social-icons" aria-label="Our social media accounts">
        <include src="social-icon.html" url="https://twitter.com/pybchat" name="Twitter" icon="twitter" />
        <include src="social-icon.html" url="https://www.instagram.com/pybchat/" name="Instagram" icon="instagram" />
        <include src="social-icon.html" url="https://gitter.im/pybchat/" name="Gitter" icon="gitter" />
      </div>

      Copyright &copy; PybChat, 2018. All rights reserved.
    </div>
  </footer>
